@import url("reset.css");
@import url("fonts.css");
@import url("typography.css");

/* page loader */
.loader {
  background: rgba(0, 0, 0, .75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  }
  .spinner {
    background: url('../../img/icon-spinner.png') center center no-repeat transparent;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    }

.longform a {
  color: #000;
  text-decoration: none;
  }
.longform .dark a {
  color: #fff;
  }
h2 {
  margin: 0;
  }
  .longform header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    padding: 5px 5px 0 90px;
    box-shadow: 0 0 3px #000;
    min-height: 47px;
    }
  #home {
    display: none;
    }
  .mute {
    position: absolute;
    left: 52px;
    top: 8px;
    background: url(../../img/icon-unmuted.png) center center no-repeat transparent!important;
    background-size: 100%!important;
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    }
    .mute.muted {
      background-image: url(../../img/icon-muted.png)!important;
      }
  #collapse {
    position: absolute;
    top: 12px;
    left: 15px;
    background: url(../../img/icon-menu.png) center center no-repeat;
    background-size: 100%!important;
    text-indent: -10000px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    cursor: pointer;
    }
  .longform header form {
    margin: -3px 0 0;
    }
    .longform header form legend {
      display: none;
      }
    .longform header form input[type=text] {
      margin: 10px 0 0 0;
      font-size: 12px;
      line-height: 1.5em;
      text-indent: 10px;
      font-weight: normal;
      min-width: 95px;
      min-height: 19px;
      border: solid 1px #999;
      border-radius: 3px 0 0 3px;
      border-right: none;
      }
    .longform header form input[type=submit] {
      display: inline-block;
      font-weight: normal;
      line-height: 1.5em;
      min-height: 19px;
      border: solid 1px #999;
      border-left: none;
      border-radius: 0 3px 3px 0;
      padding: auto 10px;
      margin: 0 0 0 -5px;
      cursor: pointer;
      }
      @-moz-document url-prefix(){
        .longform header form input[type=submit] {
          position: relative;
          top: -1px;
          min-height: 23px;
        }
      }
  .longform header a {
    color: #000;
    background: none;
    text-decoration: none;
    }
    .longform header nav {
      margin: 8px 0 10px;
      }
      .longform header nav li {
        position: relative;
        line-height: 1.7em;
        text-indent: 34px;
        display: inline-block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        margin: 0 0 1px;
        }
        .longform header nav li.child {
          display: none;
          }
      .longform header nav.active li {
        display: block;
        width: auto;
        height: auto;
        }
        .longform header nav.active li.child {
          display: block;
          margin: 0 0 0 34px;
          }
    .longform header nav a span {
      position: absolute;
      left: 0;
      text-align: center;
      text-indent: 0;
      width: 24px;
      height: 24px;
      background: #999;
      color: #fff;
      border-radius: 12px;
      overflow: hidden;
      line-height: 23px;
      font-size: .75em;
      }
    .longform header nav a:hover {
      text-decoration: underline;
      }
    .longform header nav a.active span {
      background: #333;
      }
    .longform header .search-box {
      position: absolute;
      right: 10px;
      top: 7px;
      }

  /* bgContainer */
  .bgContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    }

  /* chapter title */
  .longform .chapter-title {
    position: relative;
    padding: 0;
    overflow: hidden;
    }
  .longform .chapter-title .title {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 3;
    margin-top: 50px;
    }
  .longform .chapter-title h1 {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
    color: #fff;
    text-shadow: 0px 0px 2px #000,
                 0px 0px 2px #000,
                 0px 0px 2px #000,
                 0px 0px 2px #000,
                 0px 0px 2px #000;
    padding: 0;
    }
    .longform .chapter-title p {
      text-align: center;
      background: none;
      color: #fff;
      text-shadow: 0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000;
      }
  .longform .chapter-title video {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0!important;
    width: 100%;
    z-index: 0;
    border-radius: 0;
    box-shadow: none;
    }
    .longform .chapter-title .lead-video {
      background: transparent;
      z-index: 0;
      }
    .longform .chapter-title .lead-image {
      position: absolute!important;
      width: 100%;
      margin: 0;
      }
    .longform .chapter-title .lead-image img {
      display: none;
      }
    .longform .chapter-title figure {
      position: static!important;
      }
    .longform .chapter-title figcaption {
      position: absolute;
      width: 100%;
      margin: 0;
      right: 20px;
      z-index: 1;
      bottom: 0;
      text-align: right;
      }
      .longform .chapter-title figcaption dl {
        margin-top: -28px!important;
        font-size: 10px;
        color: #fff;
        text-shadow: 0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000;
        }
        .longform .chapter-title figcaption dl dt,
        .longform .chapter-title figcaption dl dd {
          display: inline;
          }
  .longform .chapter-title .continue {
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    overflow: hidden;
    text-indent: -10000em;
    border: solid 2px #fff;
    border-radius: 36px;
    margin: 10px 0 0 -36px ;
    -webkit-box-shadow: 0 0 2px #000;
       -moz-box-shadow: 0 0 2px #000;
        -ms-box-shadow: 0 0 2px #000;
         -o-box-shadow: 0 0 2px #000;
            box-shadow: 0 0 2px #000;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    }
    .longform .chapter-title .continue:after {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      font-size: 3em;
      margin: 0;
      padding: 0;
      color: #fff;
      width: 100%;
      height: 100%;
      line-height: 70px;
      content: "↓";
      text-align: center;
      text-indent: 0;
      text-shadow: 0 0 3px #333,
                   0 0 3px #333,
                   0 0 3px #333,
                   0 0 3px #333,
                   0 0 3px #333;
      }
      .longform .chapter-title .continue:hover:after {
        color: #c0c0c0;
        }
  .longform video {
    background: #fff;
    box-shadow: 0 0 5px #999;
    border-radius: 3px;
    padding: 20px;
    width: 50%;
    margin: 0 auto 30px!important;
    display: block;
    }
  .longform audio {
    display: block;
    }
  .longform blockquote {
    webkit-border-radius: 3px;
       moz-border-radius: 3px;
        ms-border-radius: 3px;
         o-border-radius: 3px;
           border-radius: 3px;
    background: #fff;
    margin: 0 auto!important 30px;
    padding: 20px!important;
    box-shadow: 0 0 4px #999;
    text-align: center;
    }
  .longform .dark blockquote {
    background: #333;
    margin: 0 auto!important 30px;
    padding: 20px!important;
    box-shadow: 0 0 4px #000;
    text-align: center;
    }
    .longform blockquote p {
      width: 100%!important;
      background: none;
      padding: 0;
      }
    .longform blockquote cite {
      text-align: right;
      display: block;
      }
    .longform .dark blockquote cite {
      color: #fff;
      }
      .longform blockquote cite:before {
        content: "– ";
        }
  .longform > section > article > section {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 30px 0;
    }
  .longform > section > article > section.dark {
    background: #1c1c1c;
    }
    .longform > section > article > section h2,
    .longform > section > article > section h3,
    .longform > section > article > section p,
    .longform > section > article > section figure,
    .longform > section > article > section .cs_img,
    .longform > section > article > section blockquote,
    .longform > section > article > section canvas,
    .longform > section > article > section audio,
    .longform > section > article > section dl {
      width: 50%;
      margin: 0 auto 30px;
      }
      .longform > section > article > section .cs_img p {
        margin: 0;
        width: 100%;
        }
      .longform > section > article > section .cs_img_caption {
        }
    .longform > section > article > section figure img,
    .longform > section > article > section .cs_img {
      position: relative;
      left: -10px;
      max-width: 100%;
      max-height: auto;
      background: #fff;
      padding: 20px;
      margin: 20px auto;
      border-radius: 3px;
      box-shadow: 0 0 5px #999;
      }
    .longform > section > article > section.dark figure img,
    .longform > section > article > section.dark .cs_img img {
      background: #333;
      box-shadow: 0 0 5px #000;
      }
    .longform > section > article > section figure figcaption {
      margin: 0 -20px;
      }
      .longform > section > article > section figure figcaption h3 {
        padding: 0 20px;
        }
      .longform > section > article > section figure figcaption p {
        padding: 20px;
        }
  .longform figure {
    position: relative;
    }
    .longform figure figcaption dl {
      position: absolute;
      right: 0;
      width: 100%!important;
      margin: -38px 0 0!important;
      text-align: right;
      font-size: 10px;
      color: #000;
      }
    .longform .dark figure figcaption dl {
      color: #fff;
      }
      .longform figure figcaption dl dt,
      .longform figure figcaption dl dd {
        display: inline;
        }
    .longform h2 {
      position: relative;
      z-index: 1;
      color: #000;
      text-shadow: 0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff;
      }
    .longform h3,
    .longform p {
      color: #000;
      text-shadow: 0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff,
                   0 0 2px #fff;
      }
    .longform .dark h2 {
      position: relative;
      z-index: 1;
      color: #fff;
      text-shadow: 0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000;
      }
    .longform .dark h3,
    .longform .dark p {
      color: #fff;
      text-shadow: 0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000,
                   0 0 2px #000;
      }
    .longform figcaption h3,
    .longform figcaption p {
      width: auto!important;
      }

/* add this to all elements that have a full screen element */
.full {
  position: static!important;
  z-index: 0!important;
  }

/* fixed image, text remains in document flow */
.image.full {
  background: none;
  z-index: 0!important;
  position: relative!important;
  overflow: hidden;
  }
  .image.full .lead-image {
    margin-bottom: 0;
    }
  .image.full .lead-image img {
    display: none;
    }
  .image.full h2 {
    position: relative;
    z-index: 1;
    }
  .image.full figure {
    position: static;
    }
  .image.full figcaption h3,
  .image.full figcaption p {
    position: relative;
    z-index: 1;
    }
  .image.full figcaption dl {
    width: 100%!important;
    position: absolute;
    top: 0;
    margin: 20px 20px 0 0!important;
    z-index: 1;
    font-size: 10px;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000,
                 0 0 2px #000;
    }
    .image.full figcaption dt,
    .image.full figcaption dd {
      display: inline;
      }

/* full screen background video */
.video.full {
  background: none!important;
  position: relative;
  overflow: hidden;
  }
  .video.full .lead-video {
    background: transparent;
    top: 0;
    width: 100%;
    z-index: -1;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    }
/* slideshow */
.slideshow {
  }
  .slideshow .bx-wrapper .bx-viewport {
    background: none;
    border: none;
    box-shadow: none;
    left: 0;
    }
    .slideshow .bx-controls .bx-pager {
      z-index: 1000;
      }
    .slideshow .bx-wrapper .bx-pager-item a {
      border: solid 1px #fff;
      box-shadow: 0 0 2px #000;
      background: #333!important;
      }
    .slideshow .bx-wrapper figure h3 {
      margin: 0 0 20px;
      }
  .slideshow .bx-wrapper figure dl {
    margin: -34px auto 0!important;
    width: auto;
    font-size: 10px;
    }
    .slideshow .bx-wrapper figure dl dt,
    .slideshow .bx-wrapper figure dl dd {
      width: auto;
      display: inline;
      }
.slideshow.overlay {
  }
  .slideshow.overlay figure {
    position: relative;
    }
    .slideshow.overlay figcaption {
      position: absolute;
      top: 40px;
      left: 40px;
      right: 40px;
      }

.slideshow.full {
  padding: 0!important;
  }
  .slideshow.full .bx-wrapper {
    margin: 0 auto;
    height: 100%;
    }
    .slideshow.full .bx-wrapper .bx-controls {
      position: absolute;
      right: 20px;
      top: 0;
      height: 100%;
      width: 20px;
      z-index: 100;
      }
      .slideshow.full .bx-wrapper .bx-controls .bx-pager {
        position: relative;
        top: 50%;
        padding: 0;
        height: 50%;
        }
    .slideshow.full .bx-wrapper .slides > li {
      padding: 20px 0;
      }
    .slideshow.full .bx-wrapper figure {
      max-width: 100%;
      min-width: 100%;
      margin: 0;
      }
      .slideshow.full .bx-wrapper figure img {
        position: absolute;
        width: 100%;
        height: auto;
        margin: -20px 0 0;
        padding: 0;
        top: 0;
        left: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        }
      .slideshow.full .bx-wrapper figure figcaption {
        position: relative;
        z-index: 1;
        top: 0;
        width: 50%;
        margin: 0 auto;
        }
        .slideshow.full .bx-wrapper figure figcaption dl {
          margin: -52px 20px 0 0!important;
          right: -50%;
          color: #fff;
          text-shadow: 0 0 2px #000,
                       0 0 2px #000,
                       0 0 2px #000,
                       0 0 2px #000,
                       0 0 2px #000;
          }
/* this doesn't really rely on js as much as it does css */
.fixed {
  position: fixed!important;
  bottom: auto;
  top: 0;
  }
.bgContainer.fixed {
  position: absolute!important;
  }
.end .bgContainer.fixed {
  background-attachment: scroll;
  z-index: 1;
  }
.lead-video.fixed {
  z-index: 2!important;
  }
.slideshow.full.shutter {
  }
  .slideshow.full.shutter > .slides {
    }
    .slideshow.full.shutter li {
      position: relative!important;
      padding: 0;
      overflow: hidden;
      }
      .slideshow.full.shutter dl {
        position: absolute;
        top: 0;
        right: -50%;
        margin: 0 60px 0 0!important;
        width: 100%!important;
        font-size: 10px;
        color: #fff;
        text-shadow: 0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000,
                     0 0 2px #000;
        }
        .slideshow.full.shutter dl dt,
        .slideshow.full.shutter dl dd {
          display: inline;
          }
      .slideshow.full.shutter figure {
        position: static;
        margin-bottom: 0;
        }
        .slideshow.full.shutter figure img {
          display: none;
          }
        .slideshow.full.shutter figure img.bottom {
          top: auto;
          bottom: 0;
          }
        .slideshow.full.shutter figure figcaption {
          position: absolute;
          width: 50%;
          bottom: 12.5%;
          z-index: 2;
          }
          .slideshow.full.shutter .left-text figure figcaption {
            width: 25%;
            left: 7%;
            }
          .slideshow.full.shutter .right-text figure figcaption {
            width: 25%;
            right: 7%;
            text-align: right;
            }
          .slideshow.full.shutter figure figcaption h3 {
            margin: 10px 0 20px;
            }
      .slideshow.full.shutter video {
        background: transparent;
        padding: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        position: absolute;
        width: 100%;
        height: auto;
        margin: -10px 0 0!important;
        z-index: 1;
        }
        .slideshow.full.shutter video + span {
          position: absolute;
          width: 100%;
          bottom: 12.5%;
          z-index: 2;
          }
          .slideshow.full.shutter .left-text video + span {
            width: 25%;
            left: 7%;
            }
            .slideshow.full.shutter .left-text video + span p {
              width: 100%;
              margin: 0;
              }
          .slideshow.full.shutter .right-text video + span {
            width: 25%;
            text-align: right;
            right: 7%;
            }
            .slideshow.full.shutter .right-text video + span p {
              width: 100%;
              margin: 0;
              }
          .slideshow.full.shutter video + span dl {
            right: 0;
            width: 50%!important;
            text-align: right;
            margin: -10px 20px 0 0!important;
            }
          .slideshow.full.shutter video + span h3 {
            margin: 30px auto;
            }

/* maps */
.map {
  }
  .map iframe {
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    border: solid 1px #333;
    box-shadow: 0 0 1px #000;
    }

/* responsive */
/* tablets */

/* iPad */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    -webkit-overflow-scrolling : touch;
    }  
  .longform .chapter-title .title h1,
  .longform .chapter-title .title p {
    width: 75%;
    }
  /* ipad-portrait */
  @media screen and (max-width: 896px) {
    }
  /* ipad-landscape */
  @media screen and (min-width: 897px) {

    }
  }

/* iPhone */
@media screen and (max-device-width: 480px) {
    .longform .chapter-title h1 {
    }
    .longform > section > article > section h2,
    .longform > section > article > section h3,
    .longform > section > article > section p,
    .longform > section > article > section figure,
    .longform > section > article > section blockquote,
    .longform > section > article > section canvas,
    .longform > section > article > section audio,
    .longform > section > article > section dl {
      width: 80%;
    }
    .chapter-title h1 {
      font-size: 2em;
      }
    p {
      font-size: 1em!important;
      }
    /* iphone-portrait */
    @media screen and (max-width: 400px) {
      }
    /* iphone-landscape */
    @media screen and (min-width: 401px) {

      }
  }


/* iOS specific */
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {

  }

/* iPhone 5: */
@media screen and (device-aspect-ratio: 40/71) {

  }

/* iPad: */
@media screen and (device-aspect-ratio: 3/4) {

  }
