body {
  font-family: 'Roboto Slab', serif;
  letter-spacing: .02em;
  color: #333;
  }
.title h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  }
.title p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  }
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  line-height: 2em;
  letter-spacing: 0;
  }
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0;
  }
p,
cite {
  line-height: 1.5em;
  font-size: 1.2em;
  }
cite {
  font-family: 'Roboto Slab', serif;
  }