.carousel,
.item,
.active {
    height:100%;
}

.carousel-inner {
    height:100%;
}

.fill {
    width:100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.section {
    margin: 50px 0;
}
