@import "reset.css";
@import "typography.css";

a {
  color: #fff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top,#fff 50%,#666665 50%);
     background-image: -moz-linear-gradient(top,#fff 50%,#666665 50%);
      background-image: -ms-linear-gradient(top,#fff 50%,#666665 50%);
       background-image: -o-linear-gradient(top,#fff 50%,#666665 50%);
    background-image: linear-gradient(to bottom,#fff 50%,#666665 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 16px;
  }

.longform {
  }
  .longform section {
    position: relative;
    z-index: 1;
    background: url(/img/texture-tile.jpg) 0 0 repeat #fff;
    }
    .longform section article h2,
    .longform section article h3,
    .longform section article p,
    .longform section article blockquote,
    .longform section article figure {
      width: 50%;
      margin: 0 auto;
      padding: 0;
      }
      .longform section article blockquote p {
        width: auto;
        }
    .longform section article figure img {
      max-width: 100%;
      max-height: auto;
      background: #fff;
      padding: 20px;
      margin: 20px auto;
      border: solid 1px #999;
      box-shadow: 0 1px 2px #333;
      }
    .longform section section {
      padding: 30px 0;
      }
/* fixed image, text remains in document flow */
.fixed-image {
  }
  .fixed-image figure img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    margin: 0!important;
    box-shadow: none!important;
    border: none!important;
    padding: 0!important;
    }
  .fixed-image h2,
  .fixed-image figcaption {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 1px #000, 0 0 1px #000;
    }
  .fixed-image figure figcaption h3,
  .fixed-image figure figcaption p {
    width: auto;
    }