@import "reset.css";
@import "typography.css";

a {
  color: #fff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top,#fff 50%,#666665 50%);
     background-image: -moz-linear-gradient(top,#fff 50%,#666665 50%);
      background-image: -ms-linear-gradient(top,#fff 50%,#666665 50%);
       background-image: -o-linear-gradient(top,#fff 50%,#666665 50%);
    background-image: linear-gradient(to bottom,#fff 50%,#666665 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 16px;
  }

.longform {
  }
  .longform header {
    position: absolute;
    top: 0;
    left: 0;
    }
  .longform canvas,
  .longform audio {
    display: block;
    }
  .longform blockquote {
    webkit-border-radius: 3px;
       moz-border-radius: 3px;
        ms-border-radius: 3px;
         o-border-radius: 3px;
           border-radius: 3px;
    background: #fff;
    margin: 30px auto!important;
    padding: 30px!important;
    box-shadow: 0 0 1px #999;
    text-align: center;
    }
    .longform blockquote cite {
      text-align: right;
      display: block;
      }
      .longform blockquote cite:before {
        content: "– ";
        }
  .longform > section > article > section {
    position: relative;
    z-index: 1;
    background: url(/img/texture-tile.jpg) 0 0 repeat #fff;
    }
    .longform section article h2,
    .longform section article h3,
    .longform section article p,
    .longform section article blockquote,
    .longform section article figure,
    .longform section article canvas,
    .longform section article audio {
      width: 50%;
      margin: 0 auto 30px;
      padding: 0;
      }
      .longform section article figure p,
      .longform section article blockquote p {
        width: auto;
        }
    .longform section article figure img {
      position: relative;
      left: -20px;
      max-width: 100%;
      max-height: auto;
      background: #fff;
      padding: 20px;
      margin: 20px auto;
      border: solid 1px #999;
      box-shadow: 0 1px 2px #333;
      }
    .longform section section {
      padding: 30px 0;
      }
/* fixed image, text remains in document flow */
.image.full {
  z-index: 0!important;
  }
  .image.full figure img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    margin: 0!important;
    box-shadow: none!important;
    border: none!important;
    padding: 0!important;
    }
  .image.full h2,
  .image.full figcaption {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 1px #000, 0 0 1px #000;
    }
  .image.full figure figcaption h3,
  .image.full figure figcaption p {
    width: auto;
    }
/* add this to all elements that have a full screen element */
.full {
  position: relative;
  z-index: 0!important;
  }
/* masthead with video */
.masthead-video {
  position: relative;
  overflow: hidden;
  }
  .masthead-video video {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    }
  .masthead-video h2 {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 2px #000;
    }
/* fullscreen maps */
.map {
  }
  .map.full iframe {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    }
