@import "reset.css";
/* longform */
body {
  background: fixed 50% 50% no-repeat #333;
  background-size: cover;
  }
#header,
#nav-bar,
#footer {
  display: none;
  }

#titles {
  }
  #titles h2 {
    color: #fefefe;
    font-size: 80pt;
    text-align: center;
    text-shadow: 0 0 10px #000;
    }
  #titles .date {
    position: absolute;
    top: 140px;
    text-align: center;
    width: 100%;
    color: #fefefe;
    text-shadow: 0 0 2px #000;
    }
#leadImg img {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  }
#cont {
  background: rgba(255, 255, 255, .75);
  color: #333;
  height: auto;
  font-size: 22pt;
  font-family: "Times New Roman";
  padding: 0 0 1px;
  }
  #cont h2 {
    color: #333;
    line-height: 2;
    font-size: 30pt;
    font-weight: lighter;
    min-width: 500px;
    margin: auto;
    width: 50%;
    text-shadow: 0 0 1px #000;
    }
  #cont h3 {
    color: #333;
    line-height: 1.5;
    font-size: 28pt;
    font-weight: lighter;
    min-width: 500px;
    margin: auto;
    width: 50%;
    text-shadow: 0 0 1px #000;
    }
  #cont h4 {
    color: #333;
    line-height: 1.5;
    font-size: 26pt;
    font-weight: lighter;
    min-width: 500px;
    margin: auto;
    width: 50%;
    }
  #cont p {
    margin: 0 auto 30px;
    line-height: 1.5;
    width: 50%;
    min-width: 500px;
    }
  #cont blockquote {
    background: rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 0 auto 30px;
    width: 50%;
    padding: 40px;
    min-width: 500px;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: italic;
    }
    #cont blockquote p {
      margin: 0 0 30px;
      width: auto;
      }
    #cont blockquote cite {
      }
      #cont blockquote cite:before {
        content: "— ";
        }
    #cont .cs_img {
      position: relative;
      background: rgba(255, 255, 255, .75);
      min-width: 500px;
      padding: 3px;
      margin: 0 auto;
      }
      #cont .cs_img > p {
        padding: 0;
        width: auto;
        min-width: auto;
        line-height: 0;
        margin: 0;
        }
      #cont .cs_img .cs_img_caption {
        font-size: 14px;
        position: absolute;
        left: -172px;
        width: 150px;
        min-width: 0;
        top: 10px;
        text-align: right;
        margin-top: 0;
        font-style: italic;
        line-height: 1.4;
        }
        #cont .cs_img .cs_img_caption:before {
          width: 25%;
          margin: -10px 0 10px 75%;
          border-top: 1px solid #666;
          display: block;
          content: "";
          margin-bottom: 10px;
        }
  .thumb-gallery {
    overflow: hidden;
    height: auto;
    }
    .thumb-gallery figure {
      box-shadow: inset 0 -10px 20px #000;
      overflow: hidden;
      position: relative;
      background: fixed 50% 50% no-repeat transparent;
      background-size: cover;
      }
    .thumb-gallery small {
      box-shadow: 0 -10px 20px #000;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 30px;
      background: rgba(0, 0, 0, .75);
      color: #fefefe;
      height: auto;
      font-size: 22pt;
      font-family: "Times New Roman";
      }
