#wrapper {
  max-width: inherit;
  padding: 0;
  }

#top {
  z-index: 2;
  max-width: 930px;
  margin: 0 auto;
  }
.longform {
  }
  .longform .main {
    width: auto;
    float: none;
    }
  .longform section {
    border-bottom: none;
    margin: 0;
    }
  .longform .entry section {
    padding: 0;
    }
  .longform .entry article {
    border-bottom: none;
    margin: 0;
    padding: 0;
    position: static;
    }
  .longform h2 {
    text-align: center;
    margin-bottom: 0;
    color: #ddd;
    text-shadow: 2px 2px 1px #000;
    letter-spacing: .1em;
    font-size: 50pt;
    line-height: 2em;
    }
  .longform h2.leader {
    max-width: 100%;
    }
  .longform article h2,
  .longform article h3,
  .longform article h4,
  .longform article p {
    background: #fff;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    }
  .longform article p {
    line-height: 2;
    font-size: 1.4em;
    margin-bottom: 30px;
    }
    .longform article p video {
      margin: 0 25px;
      padding: 25px;
      border: solid 1px #c0c0c0;
      box-shadow: 0 2px 2px #c0c0c0;
      }
  .longform article blockquote {
    max-width: 930px;
    margin: auto auto 20px;
    }
    .longform article blockquote p {
      background: none;
      }
  .longform .intro {
    margin: 30px auto 30px;
    padding: 0 30px 20px;
    border-bottom: #ddd solid 1px;
    border-radius: 1px;
    font-style: italic;
    max-width: 870px;
    }
  .longform h3:nth-of-type(1) {
    border-top: none;
    padding-top: 0;
    }
  .longform h3 {
    font-size: 20pt;
    line-height: 2em;
    }
    .longform article h3 {
      padding: 20px inherit inherit;
      border-top: solid 1px #ddd;
      }
  .longform h4 {
    font-size: 16pt;
    line-height: 2em;
    }
  .longform .anigif {
    margin: 20px auto;
    padding: 30px;
    border: solid 1px #ddd;
    box-shadow: 0 2px 2px #c0c0c0;
    max-width: 870px;
    }
  .longform .bxslider {
    }
    .longform .bxslider figure {
      position: relative;
      }
      .longform .bxslider img {
        width: 100%;
        height: auto;
        }
      .longform .bxslider small {
        font-size: inherit;
        line-height: 20px;
        margin: 0 auto 0;
        max-width: 930px;
        }
  .longform + #footer {
    border-top: solid 1px #ddd;
    max-width: 930px;
    margin: 0 auto;
    padding-top: 30px;
    }

/* whiteout */
.whiteout-main {
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }
  .whiteout #content {
    position: relative;
    z-index: 1;
    }

#miniMenu {
  display: none;
  background: #fff;
  position: fixed;
  left: 5px;
  top: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
  }
  #miniMenu li {
    font-family: 'Droid Serif', Arial, Helvetica, serif;
    overflow: hidden;
    position: relative;
    }
  #miniMenu .h2 {
    padding-left: 10px;
    }
    #miniMenu .h2 span {
      position: absolute;
      left: 0;
      cursor: pointer;
      }
  #miniMenu .h3 {
    padding-left: 20px;
    height: 0;
    }

  #miniMenu .h3 span {
    display: none;
    }
  #miniMenu .h4 {
    padding-left: 30px;
    height: 0;
    }
  #miniMenu a {
    color: #444;
    }

/* responsive parts */
/* iPads (landscape) ----------- */
@media only screen
       and (min-width : 768px)
       and (max-width : 1024px)
       and (orientation : landscape) {
  /* Styles */
  }
 
/* iPads (portrait) ----------- */
@media only screen
       and (min-width : 768px)
       and (max-width : 1024px)
       and (orientation : portrait) {
  /* Styles */
  .longform .anigif {
    max-width: 640px;
    }
  }