.slideshow {
    .bg-image {
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        z-index: 1;
        position: relative;
    }
    .caption {
        position: absolute;
        left: 40px;
        top: 40px;
        z-index: 9999;
        padding: 30px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 1.4em;

        span{
            display:block;
            font-size:0.6em;
        }
    }
}

.slideshow-horizontal {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .slide-caption {
        position: absolute;
        left: 40px;
        bottom: 40px;
        z-index: 9999;
        padding: 30px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 1.4em;


        span{
            display:block;
            font-size:0.6em;
        }
    }
}